<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNTT: About us</title>
    <link rel="icon" href="./icon.png" type="image/x-icon">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h4>Sunlight</h4>
        </div>
        <ul class="nav-link">
            <li><a href="./Demo.zip">Demo</a></li>
            <li><a href="index.html">Product</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <main>
        <h1 class="text-white" style="text-align:center;">Update Note:</h1>
        <div class="grid main-about--">
            <div class="card">
                <h2>Week 1</h2>
                <ul>
                    <li>Create Demo of the Game</li>
                    <li>Create Website Landing Page</li>
                    <li>Write a report for Week 1</li>
                    <li>Planning for Week 2</li>
                </ul>
                <div class="contain">
                    <a href="https://drive.google.com/file/d/1aiXaWtXWeqtkMfqgnzXR8uaqAzJzeE-J/view" target="_blank" class="btn">Learn more</a></div>
            </div>
            <div class="card">
                <h2>Week 2</h2>
                <ul>
                    <li>Finish UI</li>
                    <li>Add Boss character and more weapon</li>
                    <li>Make a complete game</li>
                </ul>
                <div class="contain">
                    <a class="btn" href="https://drive.google.com/file/d/1cPLOHf2rSlZALQtNAVxabh6_ok90VYU_/view?usp=sharing" target="_blank">Learn more</a>
                </div>
            </div>
            <div class="card">
                <h2>Project Plan</h2>
                <ul>
                    <li>Group 4: project plan in 2 Week</li>
                </ul>
                <div class="contain">
                    <a class="btn" href="https://drive.google.com/file/d/18MxO_Pmk7Ihe54hh06caWwcLE1lk_1o_/view" target="_blank">Learn more</a>
                </div>
            </div>
            <div class="card">
                <h2>All Team Job</h2>
                <ul>
                    <li>All team member job report</li>
                </ul>
                <div class="contain">
                    <a class="btn" href="https://drive.google.com/file/d/1Jaw1t-_Y-QUrS9zCZax-M1HhTDMOZVTx/view" target="_blank">Learn more</a>
                </div>
            </div>
            <div class="card">
                <h2>All Team Job Week 2</h2>
                <ul>
                    <li>All team member job report</li>
                </ul>
                <div class="contain">
                    <a class="btn" href="https://drive.google.com/file/d/1Ocnd69vYh_3vvL3NMyCvumOd0BJUOOau/view" target="_blank">Learn more</a>
                </div>
            </div>
        </div>
        <div>

        </div>
    </main>
    <script src="app.js"></script>
</body>

</html>