<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNTT: About us</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h4>Sunlight</h4>
        </div>
        <ul class="nav-link">
            <li><a href="index.html">Product</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="grid about">
        <div>
            <h1>Update note:</h1>
        </div>
        <div class="about-container" style="font-size: 1.5rem;">
            <div class="grid">
                <h2>Week</h2>
                <h3>1</h3>
            </div>
            <div>
                <p>Completed character in game.</p>
                <p>Completed demo of the game.</p>
                <p>Completed base of website.</p>
                <p>Note: need to fix bug in website and increase performance in game and create UI for game </p>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>