<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNTT: Team</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="./icon.png" type="image/x-icon">
</head>

<body>
    <nav>
        <div class="logo">
            <h4>Sunlight</h4>
        </div>
        <ul class="nav-link">
            <li><a href="./Demo.zip">Demo</a></li>
            <li><a href="index.html">Product</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="main-team-- grid flex">
        <div class="card">
            <h3>Nguyễn Hoàng Nhật Quang</h3>
            <h4>nhnquang21@clc.fitus.edu.vn</h4>
            <h4>MSSV : 21127150</h4>
            <h5>Job : Develop , Coding</h5>
        </div>
        <div class="card">
            <h3>Lương Minh Hiển</h3>
            <h4>lmhien21@clc.fitus.edu.vn</h4>
            <h4>MSSV : 21127273</h4>
            <h5>Job : Develop , Coding , QA</h5>
        </div>
        <div class="card">
            <h3>Phan Ngọc Lân</h3>
            <h4>pnlan21@clc.fitus.edu.vn</h4>
            <h4>MSSV : 21127338</h4>
            <h5>Job : Script writer</h5>
        </div>
        <div class="card">
            <h3>Đinh Thiện Minh</h3>
            <h4>dtminh21@clc.fitus.edu.vn</h4>
            <h4>MSSV : 21127353</h4>
            <h5>Job : Designer , Report writer</h5>
        </div>
        <div class="card">
            <h3>Phạm Nguyễn Quốc Thanh</h3>
            <h4>pnqthanh21@clc.fitus.edu.vn</h4>
            <h4>MSSV : 21127428</h4>
            <h5>Job : Scrum Master , Animator</h5>
        </div>
        <div class="card">
            <h3>Lê Minh</h3>
            <h4>lminh21@clc.fitus.edu.vn</h4>
            <h4>MSSV : 21127645</h4>
            <h5>Job : Designer , Website content</h5>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>